nav {
    text-align: center;
    position: sticky;
    background-color: #333333;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
nav ul li button {
    font-size: 1vw;
    margin: 1rem;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.35);
    transition: ease-out 100ms;
    box-sizing: border-box;
}
nav ul li ul li {
    display: none;
}
nav ul li ul li img {
    width: 5vw;
    position: absolute;
}
nav ul li:hover ul li {
    display: block;
}
nav button:hover {
    transform: scale(1.1);
    border: yellow solid;
    color: blue;
}
@media (max-width: 1300px) {
    nav ul li button {
        font-size: larger;
    }
}
@media (max-width: 1200px) {
    nav ul li button {
        font-size: larger;
    }
}
@media (max-width: 1100px) {
    nav ul li button {
        font-size: large;
    }
}
@media (max-width: 850px) {
    nav {
        margin-top: 20px;
    }
}
@media (max-width: 480px) {
    nav ul {
        position: absolute;
    }
    nav ul li button {
        font-size: small;
        margin: 5px;
    }
}